<!-- testing.liquid -->

<h1> jwplayer </h1>


{% schema %}
  {
    "name": "Testing",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}