<!-- testing.liquid -->
<div class="container">
   <h1> jwplayer </h1>
</div>


{% schema %}
  {
    "name": "Testing",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}